@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: Montserrat, serif;
    font-size: 22px;
}

button{
    font-family: Montserrat, serif;
}

.hero-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 900px;
    background-image: url("images/hero-bg.jpeg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    background-attachment: fixed;
    color: white;
}

.hero-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Montserrat, serif;
    width: 90%;
    padding: 0 10px 0 10px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.hero-main-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 400px;
}

.hero-heading{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-button{
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    font-weight: 200;
    font-family: Montserrat, serif;
    padding: 0 30px 0 30px;
}

.nav-icon{
    font-weight: 400;
}

#main-heading{
    font-size: 70px;
    margin: 0;
    padding: 0;
}

#under-heading{
    font-weight: 300;
}

#para-heading{
    font-weight: 200;
    width: 600px;
    text-align: center;
}

#btn-heading{
    border-radius: 8px;
    background-color: rgba(68, 68, 68, 0.24);
    padding: 20px 40px 20px 40px;
    font-size: 17px;
    margin-top: 30px;
    border: none;
    font-weight: 600;
    color: white;
}

.nav-button-contact{
    border-radius: 8px;
    background-color: rgba(68, 68, 68, 0.24);
    padding: 15px 40px 15px 40px;
    border: none;
    font-weight: 600;
    color: white;
    box-shadow: black;
    font-size: 17px;

}

#btn-heading:hover{
    background-color: rgba(37, 37, 37, 0.24);
}

.nav-button-contact:hover{
    background-color: rgba(37, 37, 37, 0.24);
}

.services{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 50px;

    /*
    background: rgb(74,101,158);
    background: linear-gradient(110deg, rgba(74,101,158,1) 0%, rgba(49,86,129,1) 35%, rgba(27,81,112,1) 41%, rgba(0,0,0,1) 92%);*/
    background: rgb(15,16,17);
    background: linear-gradient(180deg, rgba(15,16,17,1) 0%, rgba(0,10,22,1) 19%, rgba(0,39,61,1) 75%, rgba(0,45,57,1) 92%);
    color: white;
    padding-bottom: 40px;
}

.services-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    width: 70%;
    height: 700px;
}

#services-heading{
    padding: 0;
    margin: 0;
    margin-bottom: 50px;
    text-align: center;
}

#services-img{
    border-radius: 20px;
}

.testimonial{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    box-shadow: inset 0 10px 100px rgba(0, 0, 0, 0.5);

}

.testimonial-reviews{
    display: flex;
    flex-direction: row;
    gap: 100px;
}

.testimonial-heading{
    text-align: center;
}

.cta-section{
    display: flex;
    justify-content: center;
    width: 100%;
    background: rgb(7,24,56);
    background: linear-gradient(110deg, rgba(7,24,56,1) 0%, rgba(0,19,41,1) 35%, rgba(0,39,61,1) 71%, rgba(0,67,85,1) 92%);
    color: white;
    padding-bottom: 100px;
}

.cta-main-container{
    width: 1400px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 100px;
    padding: 0 -30px 0 -30px;
}

.cta-main{
    width: 600px;
}

.cta-main > h2{
    text-align: center;
}

.cta-main-email-text{
    font-size: 16px;
    font-style: italic;
}

.cta-form{
    width: 400px;
}

.cta-form-head{
    text-align: center;
}

.cta-form-head > h5{
    padding: 10px 0 10px 0;
    margin: 0;
    font-style: italic;
}

.cta-form-head > h3{
    padding: 20px 0 0 0;
    margin: 0;
}

input{
    height: 40px;
    width: 100%;
    border-radius: 8px;
    padding: 10px;
    font-size: 16px;
    border: 0;
    margin-bottom: 10px;
}

button[type="submit"]{
    border: none;
    color: white;
    font-size: 20px;
    font-weight: 600;
    font-family: Montserrat, serif;
    padding: 10px 30px 10px 30px;
    border-radius: 10px;
    box-shadow: black 0 0 50px;
    background: #075B84;
    display: block;
    margin: 0 auto;
}

textarea#fadditional {
    width: 100%;
    height: 180px;
    padding: 10px;
    font-size: 16px;
    font-family: Arial, sans-serif;
    border: 1px solid #ccc;
    border-radius: 8px;
    resize: vertical;
    margin-bottom: 30px;
}

#finterested{
    height: 40px;
    width: 100%;
    border-radius: 8px;
    padding: 10px;
    font-size: 16px;
    border: 0;
    margin-bottom: 10px;
    margin-top: 10px;
}

#img-cta{
    border-radius: 10px;
    align-self: center;
    margin: 0 0 0 20%;
}